<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/icon.png">
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>About information</p>
</body>

</html>