<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    {{>header}}
    <img src="/img/download.jpg">
    <p>Created by Umair</p>
    <p>This application has been deployed by Umair Azeem with the help of heroku </p>
    <form>
        <input placeholder="Enter Location">
        <button>Search</button>
        <p id="mesage-01"> </p>
        <p id="mesage-02"> </p>

    </form>
    <footer>
        <script src="/js/application.js"></script>
    </footer>
</body>

</html>